[user]
	email = 77710475+ngin8-beta@users.noreply.github.com
	name = ngin8-beta
[color]
	ui = true
[core]
	editor = nvim
	quitepath = false
[alias]
	co = checkout
	cob = checkout -b
	br = branch
	ci = commit
	cim = commit -m
	ciam = commit --amend
	ciamm = commit --amend -m
	ciamne = commit --amend --no-edit
	st = status
	ad = add
	adA = add -A
	di = diff
	dica = diff --cached
	dino = diff --name-only
	dish = diff --shortstat
	lo = log
	loo = log --oneline
	loog = log --oneline --graph
	sta = stash
	staa = stash apply
	stad = stash drop
	stal = stash list
	stau = stash save -u
    sw = switch
    swc = switch -c
	ro = restore
	rost = restore --staged
[push]
	default = simple
[credential]
	helper = wincred
